/*****************************
/
/       Colors
*****************************/
/******************************
/        Flood presentation
******************************/
button:not(form button):hover {
  box-shadow: 2px 2px #7f7f7f;
}
button:not(form button) {
  background-color: #F0F8FF;
  color: #962750;
  padding: 2px;
}
textarea:focus {
  outline: 2px solid #962750;
  box-shadow: 0 0 5px #7b899c;
}
h1,
h2 {
  border-color: #962750;
}
.tabs .item.active {
  color: #962750;
  border-bottom-color: #962750;
}
#chat-log .message {
  border-color: #7b899c;
}
.chat-message {
  background: url(../img/chat_background.jpg);
  font-family: Trixie, 'Courier New', Courier, monospace;
}
.journal-entry-content .journal-entry-pages table {
  background: #dbdfe7;
}
.journal-entry-content .journal-entry-pages table tr:nth-child(odd) {
  background: #b0b8c8;
}
.journal-entry-content .journal-entry-pages .chapter-header {
  color: #7b899c;
}
.journal-entry-content .journal-entry-pages .us-text,
.journal-entry-content .journal-entry-pages h5 {
  color: #962750;
}
.journal-entry-content .journal-entry-pages .example-text {
  border-left-color: #962750;
  background: #dbdfe7;
}
.journal-entry-content .journal-entry-pages h1 {
  border-left-color: #962750;
}
.dark-bar {
  background-color: #7b899c;
}
.item-bonus:focus {
  outline: 2px solid #962750;
  box-shadow: 0 0 5px #7b899c !important;
}
.dice-result .dice-formula,
.dice-result .dice-total {
  background: #ffffff00;
  border: none;
  cursor: pointer;
}
.chat-header {
  border-color: #962750;
}
.chat-header h1 {
  color: #962750;
}
.bug {
  background: url(../img/krafta_logo_bw_sm.png);
  background-repeat: no-repeat;
  background-position: center;
}
.reroll-info button {
  background-color: #962750;
  color: #F0F8FF;
}
.add-to-pool:hover {
  color: #7b899c;
  text-shadow: 1px 1px #7f7f7f;
}
.window-content .dialog-content .bug {
  background: url(../img/krafta_logo_bw_sm.png);
  background-repeat: no-repeat;
  background-position: center;
}
.window-content .dialog-content .pool-count,
.window-content .dialog-content .pool-details .pool-detail,
.window-content .dialog-content .pool-details .pool-item-select,
.window-content .dialog-content .pool-details .pool-item-select select,
.window-content .dialog-content .pool-details .bonus-dice {
  font-family: Trixie, 'Courier New', Courier, monospace;
}
.window-content .dialog-content .pool-details .penalty {
  color: #962750;
}
.window-content .dialog-content .pool-details .bonus-dice input:focus {
  border-bottom: 1px solid #962750;
}
.kid-notes,
.notes-group,
.main .items,
.main .hideout,
.main .scars,
.main .info-item.odd,
.main .info-item,
.item-sheet h1.charname,
.item-sheet .item-info,
.sidebar .name-box .type,
.sidebar .name-box .portrait,
.sidebar .name-box h1.charname {
  background: #dbdfe7;
}
.main .info-item.even,
.main .info-list .iconic-item,
.main .friction,
.main .conditions .info-item .even {
  background: #b0b8c8;
}
.main .special-item,
.sidebar .experience-group .exp-boxes,
.sidebar .attributes-skills .attribute-list .attribute {
  background: #ae7a85;
}
.sidebar .attributes-skills .attribute-list .skill-list .skill {
  background: #d9bec3;
}
.main .info-list .iconic-item,
.main .friction,
.main .info-item,
.main .special-item,
.sidebar .attributes-skills input {
  font-family: Trixie, 'Courier New', Courier, monospace;
}
.main .info-list .iconic-item input[type="text"]:focus,
.main .friction input[type="text"]:focus,
.main .info-item input[type="text"]:focus {
  box-shadow: 0 0 5px #962750;
}
.item-sheet h1.charname input:focus,
.sidebar .name-box h1.charname input:focus {
  outline: 2px solid #962750;
  box-shadow: none;
}
.item-sheet .us-text {
  color: #962750;
}
.item-sheet .item-sidebar {
  background-image: url('../img/grunge.png');
  background-color: #962750;
}
.item-sheet .item-info .header-details .item-name img {
  border: 1px solid #962750;
}
