/*****************************
/
/       Colors
*****************************/

@footer-color: #7b899c;
@highlight: #962750;
@section-head-color: #ae7a85;
@section-item-color: #d9bec3;
@field-color: #dbdfe7;
@iconic-item-color: #b0b8c8;
@black: black;
@background: white;
@white: white;
@transparent: #ffffff00;
@drop-shadow-color: #7f7f7f;
@button-color: #F0F8FF;


/******************************
/        Flood presentation
******************************/
button:not(form button):hover{
    box-shadow: 2px 2px @drop-shadow-color;
}

button:not(form button) {
    background-color: @button-color;
    color: @highlight;
    padding: 2px;
}

textarea:focus{
    outline: 2px solid @highlight;
    box-shadow: 0 0 5px @footer-color;
}

h1,
h2 {
    border-color: @highlight;
}

.tabs .item.active {
    color: @highlight;
    border-bottom-color: @highlight;
}

#chat-log .message{
    border-color: @footer-color;
}

.chat-message{
    background: url(../img/chat_background.jpg);
    font-family: Trixie, 'Courier New', Courier, monospace;
}


.journal-entry-content .journal-entry-pages {
    table {
        background: @field-color;

        tr:nth-child(odd) {
            background: @iconic-item-color;
        }
    }

    .chapter-header {
        color: @footer-color;
    }

    .us-text,
    h5 {
        color: @highlight;
    }

    .example-text {
        border-left-color: @highlight;
        background: @field-color;
    }

    h1 {
        border-left-color: @highlight;
    }
}
