/*****************************
/
/       Colors
*****************************/
/******************************
/        Foundry overrides
******************************/
.editor-edit {
  box-shadow: 2px 2px #7f7f7f;
}
#context-menu li.context-item:hover {
  color: hsl(338, 59%, 37%);
  text-shadow: none;
}
button:hover {
  box-shadow: 2px 2px #7f7f7f;
}
.window-app .window-content {
  background-color: white;
  background: white;
}
a:hover {
  box-shadow: none;
  text-shadow: none;
  color: #dbdfe7;
}
.fa-edit:hover {
  text-shadow: none;
}
textarea {
  font-family: Trixie, 'Courier New', Courier, monospace;
  height: 100%;
}
textarea:focus {
  outline: 2px solid hsl(338, 59%, 37%);
  box-shadow: 0 0 5px #7b899c;
}
h1,
h2 {
  font-family: AvantBold, sans-serif;
  font-weight: 700;
  border-color: hsl(338, 59%, 37%);
}
h3,
h4,
h5,
h6 {
  font-family: Avant, sans-serif;
}
blockquote {
  font-family: Trixie, 'Courier New', Courier, monospace;
  background: url(../img/chat_background.jpg);
  max-width: 50%;
  padding: 20px;
  border: none;
  break-inside: avoid;
  font-style: normal;
}
blockquote hr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.section-header {
  max-height: fit-content;
}
section.secret {
  font-family: SabonRoman;
  font-size: 1.1em;
}
#chat-form textarea {
  background: url(../img/chat_background.jpg);
}
#chat-controls .roll-type-select {
  background: white;
}
#chat-log .message {
  border-color: #7b899c;
}
.chat-message {
  background: url(../img/chat_background.jpg);
  font-family: Trixie, 'Courier New', Courier, monospace;
}
.app {
  color: white;
}
button {
  background: white;
  color: hsl(338, 59%, 37%);
}
.tabs .item.active {
  text-shadow: none;
  color: hsl(338, 59%, 37%);
  border-bottom: 3px solid hsl(338, 59%, 37%);
}
.sidebar-tab .directory-header .header-search input {
  background: white;
}
select:focus {
  box-shadow: none;
  border: 1px solid hsl(338, 59%, 37%);
}
.editor-content img {
  border: none;
}
.editor-content table {
  background: #dbdfe7;
  border: none;
  font-family: AvantBold;
}
.editor-content table th {
  padding-left: 3px;
  background: black;
  color: white;
  text-align: left;
  font-family: AvantBold;
}
.editor-content table tr:nth-child(odd) {
  background: #b0b8c8;
}
.editor-content .chapter-header {
  font-family: AvantBold;
  font-weight: 900;
  color: #7b899c;
  border-bottom: none;
  font-style: bold;
  padding-left: 5px;
}
.editor-content .lore-text {
  font-family: SabonItalic;
  padding-left: 5px;
  text-indent: 0px;
}
.editor-content .us-text {
  color: hsl(338, 59%, 37%);
  font-weight: 300;
}
.editor-content .example-text {
  font-size: 0.9em;
  padding-left: 8px;
  border-left: dotted 2px hsl(338, 59%, 37%);
  max-width: 90%;
  background: #dbdfe7;
  break-inside: avoid;
}
.editor-content .example-text p {
  text-indent: 0px;
}
.editor-content .major-heading {
  display: grid;
  grid-template-columns: 140px auto;
  justify-items: stretch;
}
.editor-content .chap-number {
  font-family: AvantBold;
  color: white;
  background-image: url('../img/grunge.png');
  background-color: #fbba1c;
  object-fit: cover;
}
.editor-content .grunge {
  position: absolute;
  width: 140px;
  z-index: 7;
}
.editor-content .grunge img {
  border: none;
  object-fit: cover;
}
.editor-content .two-col {
  column-count: 2;
  column-gap: 3em;
  margin-top: 10px;
  margin-right: 10px;
  text-align: justify;
}
.editor-content h5 {
  font-size: 1.2em;
  font-family: AvantBold, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: hsl(338, 59%, 37%);
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  font-style: italic;
}
.editor-content h1 {
  font-size: 3.5em;
  border-color: black;
}
.editor-content h2 {
  font-size: 1.5em;
  border: none;
  text-align: left;
}
.editor-content h3 {
  font-family: AvantBold;
  text-align: left;
}
.editor-content p {
  text-indent: 25px;
}
