@import "./config.less";

.dark-bar {
    background-color: @footer-color;
}

.item-bonus:focus {
    outline: 2px solid @highlight;
    box-shadow: 0 0 5px @footer-color !important;
}

.dice-result {
    .dice-formula, .dice-total {
        background: @transparent;
        border: none;
        cursor: pointer;
    }
}

.chat-header {
    border-color: @highlight;

    h1 {
        color: @highlight;
    }
}

.bug {
    background: url(../img/krafta_logo_bw_sm.png);
    background-repeat: no-repeat;
    background-position: center;
}

.reroll-info {
    button {
        background-color: @highlight;
        color: @button-color;
    }
}

.add-to-pool:hover {
    color: @footer-color;
    text-shadow: 1px 1px @drop-shadow-color;
}

.window-content {
    .dialog-content {
        .bug {
            background: url(../img/krafta_logo_bw_sm.png);
            background-repeat: no-repeat;
            background-position: center;
        }

        .pool-count,
        .pool-details .pool-detail,
        .pool-details .pool-item-select,
        .pool-details .pool-item-select select,
        .pool-details .bonus-dice {
            font-family: Trixie, 'Courier New', Courier, monospace;
        }

        .pool-details {
            .penalty {
                color: @highlight;
            }

            .bonus-dice input:focus {
                border-bottom: 1px solid @highlight;
            }
        }
    }
}

.kid-notes,
.notes-group,
.main .items,
.main .hideout,
.main .scars,
.main .info-item.odd,
.main .info-item,
.item-sheet h1.charname,
.item-sheet .item-info,
.sidebar .name-box .type,
.sidebar .name-box .portrait,
.sidebar .name-box h1.charname {
    background: @field-color;
}

.main .info-item.even,
.main .info-list .iconic-item,
.main .friction,
.main .conditions .info-item .even {
    background: @iconic-item-color;
}

.main .special-item,
.sidebar .experience-group .exp-boxes,
.sidebar .attributes-skills .attribute-list .attribute {
    background: @section-head-color;
}

.sidebar .attributes-skills .attribute-list .skill-list .skill {
    background: @section-item-color;
}

.main .info-list .iconic-item,
.main .friction,
.main .info-item,
.main .special-item,
.sidebar .attributes-skills input {
    font-family: Trixie, 'Courier New', Courier, monospace;
}

.main .info-list .iconic-item input[type="text"]:focus,
.main .friction input[type="text"]:focus,
.main .info-item input[type="text"]:focus {
    box-shadow: 0 0 5px @highlight;
}

.item-sheet h1.charname input:focus,
.sidebar .name-box h1.charname input:focus {
    outline: 2px solid @highlight;
    box-shadow: none;
}

.item-sheet {
    .us-text {
        color: @highlight;
    }

    .item-sidebar {
        background-image: url('../img/grunge.png');
        background-color: @highlight;
    }

    .item-info .header-details .item-name img {
        border: 1px solid @highlight;
    }
}
